/* use to import fonts for the user in case it is not installed*/
/* example of importing local font */
@font-face {
    font-family:"Roboto";
    src:url("../Fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}

/*example of using google font */
/* latin-ext */
@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.gstatic.com/s/righteous/v8/1cXxaUPXBpj2rGoU7C9WhnGFucE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

  /* latin */
  @font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.gstatic.com/s/righteous/v8/1cXxaUPXBpj2rGoU7C9WiHGF.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/* asterisk applies to everything */
/* specificity is when more specific css selectors take precedence over less specific ones */
/* element, class, then id. !important to make an exception but it is bad form */
*{
    /* font-family selects a typeface, goes through list until one font found on user, sans-serif means with no accent on letters */
    font-family:Helvetica, sans-serif; 


}
html {
    /*frame of reference for all elements using sizing unit rem, here 1 rem = 16 px */
    font-size:16px;
}
nav{
    /* height&width control the element size itself if using content box model */
    height:500px;
    width:500px;
    /* means 0 vertical margin, and auto align element to center if has width */
    margin: 0 auto; 
    /* relative is default, absolute is relative to parent element, fixed is constant on page */
    position:fixed;
    /* higher z-index the more forward it is and will show up when overlapping with elements of lower z-index */
    z-index:10;
    /* display block means it is its own box model on a separate line */
    display:block;
}
/* no prefix to select elements */
p{
    /* font-size selects the size of letters */
    font-size:20px;
    /* overflow deals with how elements act when it cannot fit its content area */
    overflow:scroll; 
    /* padding is area right outside content area and inside border */
    padding:20px;
    /* display inline block means it is its own box model but on the same line as previous element */
    display:inline-block;
    /* font-style can change letter to italics */
    font-style:italic;
    /* changes distance between individual words, unit of em means relative to units in parent element */
    word-spacing:0.05em;
}

/* use . to select class */
.title{
    /* height&width control the size of content box, padding, and border together if using border box model */
    box-sizing:border-box;
    height:700px;
    width:700px;
    /* text-transform can change how a sentence is displayed, all uppercase, capitalize first letter */
    text-transform:uppercase;
    /* aligns the text within its content box */
    text-align:center;
    
    /* changes background color in the content box, hexadecimal system*/
    background-color:#8A2BE2;
    /* margin is the area outside border, will colljapse with other element margin to take the bigger value of the two */
    margin:100px;
    /* display inline means it is on the same line as previous element, non adjustable box model attributes */
    display:inline;
    /* use 100-900, with 400 being normal for font-weight, or bold */
    font-weight:600;
    /* change distance between individual letters */
    letter-spacing:0.1em;
}
.banner{
    /* with either local/external url select an image to be background of content box*/
    background-image: url(../img1.jpg);
    /* can hide element that dev wants to keep around but dont want end user to see */
    visibility:hidden;
}
/* use # to select ID */
#tableExample {
    /* border is between padding and margin, can set line thickness, style (solid, dashed etc) and color */
    border: 1px solid blue;
}

/* use space between selectors to reach specific nested elements */
table th {
    /* sets background color using rgb */
    background-color:rgb(200,162,200);
    /* sets opacity of entire content box */
    opacity:0.8;
}
/* use comma between selectors to apply to unrelated elements */
a, figure {
    /* bold or normal or 100-900 with 400 being normal */
    font-weight:bold;
    text-transform:capitalize;
    /* sets color of text */
    /* rgba sets a color using rgb system, and alpha (opacity) using a */
    color:rgba(7, 210, 50,0.5);
    /* float pushes the element all the way to the direction attribute named */
    float:left;
    /* clear determines the side that cannot have other floats, clear left means nothing can be more left than this */
    clear:left;


}
